process {
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/fastp/${meta.id}" },
            enabled: false
        ]
        ext.args = '--include_unmerged'
    }

    withName: METAPHLAN3 {
         publishDir = [
            path: { "${params.outdir}/metaphlan/${meta.id}" }
        ]
    }

    withName: HUMANN {
        publishDir = [
            path: { "${params.outdir}/humann/${meta.id}" }
        ]
    }
}